<h1>Listing favorites</h1>

<table>
  <tr>
    <th>User</th>
    <th>Bike ID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @favorites.each do |favorite| %>
  <tr>
    <td><%= User.find_by_id(favorite.user_id).name %></td>
    <td><%= Bike.find_by_id(favorite.bike_id).sticker_id %></td>

  </tr>
<% end %>
</table>
<%if @favorites.empty?%>
There are no favorites.
<%end%>
<br />
<%= link_to 'Back', :back %>
