<h1 align="center">Favorites</h1>

<% if @bike %>
<h3 align="center">for Bike <%= link_to @bike.sticker_id, @bike %></h3>
<p><i>Users who have added this bike to their favorites list.</i></p>
<% end %>

<table>
  <tr>
    <th>User</th>
    <th>Bike ID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @favorites.each do |favorite| %>
  <tr>
    <td><%= link_to favorite.user.name, favorite.user %></td>
    <td><%= link_to favorite.bike.sticker_id, favorite.bike %></td>

  </tr>
<% end %>
</table>
<%if @favorites.empty?%>
There are no favorites.
<%end%>
<br />
<%= link_to 'Back', :back %>
