<% # subnav variable holds the Object passed to this partial %>
<% # which is the controller name ("page" variable from the %>
<% # application.html.erb layout file) %>


<li><a href=""><%= subnav.capitalize %> Sublink 1</a></li>
<li><a href=""><%= subnav.capitalize %> Sublink 2</a></li>
<li><a href=""><%= subnav.capitalize %> Sublink 3</a></li>		