<h1 align="center">My Dashboard</h1>
<br/>

<h2 align="center" class="dash_h2">My Favorite Bikes</h2>
<%= render 'favorites/favorites' %>

<br/>
<br/>

<h2 align="center" class="dash_h2">My EAB Projects</h2>
<%= render 'eab_projects/myprojects' %>

<br/>
<br/>

<h2 align="center" class="dash_h2">My Recent Transactions</h2>
<%= render 'transactions/transaction_table' %>