<h1 align="center">Welcome to Free Ride!</h1>
<br />
<h2 align="center">Login</h2>
<table align="center"><tr><td>
<%= render :partial => "sessions/form_login" %>
</td></tr></table>
<br />
<h2 align="center">
	<%= link_to "New User Signup", signup_path %>
</h3>