

<p>
  <b>Brand:</b>
  <%= link_to @bike_model.brand.name, @bike_model.brand %>
</p>

<p>
  <b>Name:</b>
  <%= @bike_model.name %>
</p>



<%= link_to 'Edit', edit_bike_model_path(@bike_model) %> |
<%= link_to 'Back', bike_models_path %>
