// Place all the styles related to the Bikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#maininfo {
	font-size: small;
	background-color:#00000;
	text-decoration: none;
	margin: 1px;
	padding: 5px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	width:100%;
	height: 400px;

}

#maininfo tr{
	vertical-align: top;
	
}

#bikeTable {
	color: #660000;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border-collapse: seperate;
}

#IDhook{
	font-size: large;
	color: #660000;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	border-top-width: 5px;
	border-right-width: 5px;
	border-bottom-width: 5px;
	border-left-width: 5px;
	border-collapse: collapse;
	width: 80%;
	background-color: #AFC7C7;
}

#headers{
	color: #660000;
	text-decoration: underline;
}
#projects {
	width: 90%;
	border-collapse: collapse;
	border-spacing: 1px;
}
#history {
	width: 90%;
	border-collapse: collapse;
	border-spacing: 1px;
}
#notes {
	width: 60%;
	border-collapse: collapse;
	border-spacing: 1px;
}
#statusTable{
	float: left;
}
#Savaliable{
	font-size: medium;
	background-color: #66FF33;
}

#Seab{
	font-size: medium;
	background-color: #FF9933;
}

#Ssold{
	font-size: medium;
	background-color: #C8C8C8;
}

#Sother{
	font-size: medium;
	background-color: #CC6699;
}

.floatright{
	float:right;
}

#dhtmltooltip{
position: absolute;
width: 150px;
border: 1px solid black;
padding: 2px;
background-color: lightyellow;
visibility: hidden;
z-index: 100;
font-size: 12px;
}

.bikelisttable th .current {
  padding-right: 12px;
  background-color: yellow;
  background-repeat: no-repeat;
  background-position: right center;
}

.bikelisttable th .asc {
	background-color: yellow;

}

.bikelisttable th .desc {
	background-color: yellow;
	
}

#locname option{
	max-width: 175px; 
}
