// Place all the styles related to the Bikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#bikeTable {
	color: #660000;
	text-decoration: none;
	margin: 5px;
	padding: 10px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-collapse: collapse;
	width: 525px;
}

#maininfo {
	font-size: medium;
	text-decoration: none;
	margin: 1px;
	padding: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	width:100%;
}