// Place all the styles related to the Favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#favpage{
	font-weight: bold; 
	background-color: #66FF33;
	padding: 3px;
}