body {
	background-color: #333333;
	color: #333333;
	font-family: helvetica, arial, verdana, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

a {
	color: #d00000;
  	&:visited {
    	color: #e00000; 
	}
  	&:hover {
    	color: #000000; 
	} 
}


#wrapper {
	background-color: #ffcc00;
	min-width: 900px;
	width: 98%;
	margin: 20px auto 0 auto;
}

#header {
	background-color: #ffcc00;
	height: 50px;
	margin: 0;
	padding: 1em;
	h1 {
		line-height: 50px;
		font-size: 48px;
		margin: 0;
		padding: 0;
	}
	a {
		text-decoration: none;	
		color: #d00000;	
	}
}

#navigation {
	background-color: #333333;
	color: #ffcc00;
	font-size: 20px;
	line-height: 20px;
	height: 30px;
	margin: 0 auto 0 auto;
	padding: 5px 10px 5px 10px;
	
	ul { 
		margin: 7px 0 0 5px;
		padding: 0;
		li {
			font-weight: bold;
			margin: 0;
			padding: 0;
			display: inline;
			list-style: none;
		}
	}
	a {
		margin: 0 5px 0 0;
		padding: 5px 10px 7px 10px;
		text-decoration: none;
		&:hover {
			color: #ffffff;
			background-color: #555555;
		}
	}
	.selected {
		color: #ffffff;
		background-color: #555555;
		&:hover {
			background-color: #555555;
		}
	}
}

#subnav {
	background-color: #555555;
	color: #ffcc00;
	font-size: 18px;
	line-height: 8px;
	height: 20px;
	margin: 0 auto 0 auto;
	padding: 5px 10px 5px 10px;
	
	ul { 
		margin: 7px 0 0 5px;
		padding: 0;
		li {
			margin: 0;
			padding: 0;
			display: inline;
			list-style: none;
		}
	}
	a {
		color: #ffcc00;
		margin: 0 5px 0 0;
		padding: 5px 10px 7px 10px;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	
}


#container {
	background-color: #ffffff;
	width: 95%;
	min-height: 400px;
	margin: 0 auto 0 auto;
	padding: 0;
}

#content {
	margin: 0;
	padding: 1em;
	h2 {
		margin-top: 0;
	}
}

#footer {
	background-color: #ffcc00;
	margin: 0;
	padding: 0.5em;
	p {
		margin: 0;
	}
}