// Place all the styles related to the SafetyInspections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.failed {
	font-size: 16px;
	font-weight: bold;
	color: red;
}

.passed {
	font-size: 16px;
	color: green;
}