// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#userSearchForm{
	display: block;
	text-align: center;
	margin: 0px auto;
}

.address_display {
	margin-top: -1em;
}

#favpage{
	font-weight: bold; 
	background-color: #66FF33;
}

#transactions {
	border-collapse: collapse;
	border: solid 2px black;
	td {
		padding: 3px;
		border: solid 2px black;
	}
	.t_header {
		font-weight: bold;
		font-size: 16px;
	}
	.credit_cell {
		font-weight: bold;
		background-color: #00ff33;
	}
	.debit_cell {
		font-weight: bold;
		background-color: #fa5858;
	}
}